
<% if user_signed_in?%>
	<div id="cryptoTable">
	<h1 style="text-align:center; padding:10px;" >Top 100 Cryptocoin from Market Cap</h1>
		<div class="table-wrapper-scroll-y my-custom-scrollbar">
			<table class="table-bordered table table-hover" style="width:100%; font-size:20px" >
				<thead>
					<tr> 
						<th>Rank</th>
						<th>Symbol</th>
						<th>Name</th>
						<th>Market Cap</th>
						<th>Price</th>
						<th>Change(24h)</th>
					</tr>
				</thead>
			 	<tbody>
					<%for coin in  @coins%>
						<tr>
							<td> <%= coin["cmc_rank"]%> </td> 
							<% if !(inline_svg "#{coin["symbol"]}.svg").include?("SVG file not found:") %>
								<td><%= inline_svg "#{coin["symbol"]}.svg", class:'some-class'  %></td>
							<%else%>
								<td><%= inline_svg "nocoin.svg" , class:'some-class'  %></td>
							<% end %>
							

							<td> <%= coin["name"]%> </td> 
							<td> $ <%= coin["quote"]["USD"]["market_cap"]%> </td>
							<td> $ <%=coin["quote"]["USD"]["price"]%></td>
							<td> <%= coin["quote"]["USD"]["percent_change_24h"]%> </td> 
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
<% end %>
	
