
  <div id="cryptoTable">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table-bordered table table-hover" style="width:100%; font-size:20px">
        <thead>
          <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Current Price</th>
            <th>Purchased Value</th>
            <th>Coins Owned</th>
            <th>Total</th>
            <th>Profit/Loss</th>
          </tr>
        </thead>

        <tbody>

        <% @cryptos.each do |crypto| %>
        <% if crypto.user_id == current_user.id %>
            <%for coin in  @search_crypto%>
            <% if crypto.symbol == coin["symbol"] %>
              <tr>
              <td> <%= link_to coin["name"], crypto , method: :get%> </td> 
              <% if !(inline_svg "#{coin["symbol"]}.svg").include?(" SVG file not found:") %>
                  <td><%= inline_svg "#{coin["symbol"]}.svg" , class:'some-class'  %></td>
                <%else%>
                  <td><%= inline_svg "nocoin.svg" , class:'some-class'  %></td>
                <% end %>
              <td> $<%= coin["quote"]["USD"]["price"]%> </td> 
              <td> $<%= crypto.cost_per %></td>
              <td> <%= crypto.amount_owned %></td>
              <td> $<%= coin["quote"]["USD"]["price"] * crypto.amount_owned %></td>
              <td> $<%= profit_loss =(coin["quote"]["USD"]["price"] * crypto.amount_owned) - (crypto.cost_per * crypto.amount_owned)    %></td>
              <% @profit_loss +=(coin["quote"]["USD"]["price"] * crypto.amount_owned) - (crypto.cost_per * crypto.amount_owned)    %>
              <td><%=link_to 'Delete', crypto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
              <% end %>
            <% end %>
          <% end %>
       <% end %>
       
      </tbody>
    </table>

    <br>
<br/>
  <h2>Total Profit/Loss </h2><h3><%= number_to_currency(@profit_loss) %></h3>
  <br/> <br/>
    
  </div>
   
  <%= link_to 'New Crypto', new_crypto_path ,method: :get, class:"btn btn-primary"%>
</div>



