
<div class="userForm">
  <div  class="panel panel-info panelForm">
      <div class="panel-heading">
        <h2 class="panel-title"> My coin</h2>
      </div>
      <div class="panel-body">
    <p>
  <strong>Symbol:</strong>
  <%= @crypto.symbol %>
</p>

<p>
  <strong>User:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Coin Price</strong>
  $ <%= @crypto.cost_per  %> 
</p>

<p>
  <strong>Amount owned:</strong>
  <%= @crypto.amount_owned %>
</p>

<%= link_to 'Edit', edit_crypto_path(@crypto),method: :get %> |
<%= link_to 'Back', cryptos_path ,method: :get%> |
<%= link_to 'Delete', crypto_path(@crypto), method: :delete, data: { confirm: 'Are you sure?' } %>

    </div>
  </div>
</div>
