<!DOCTYPE html>
<html>
  <head>
    <title>ChryptoCurencyPortofolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# creating a partial you need to create a file that starts with underscore and render it in the application file %>
  <%= render "home/navbar" %>
  <div class="container">
   <%= yield %>
  </div>
   
  </body>
</html>
